.browniePhoto {
    max-height: 500px;
}

h1 {
    color: brown;
}

h2 {
    color: red;
}

* {
    background-color: #add5fa;
    text-align: left;
}

a {
    text-decoration: none;
    border: 2px solid black;
    background-color: white;
    padding: 50px;
    color: blueviolet;
    border-radius: 100px;
    aspect-ratio: 1 / 1;
    width: 50px;
    height: 50px;
}
